BODY {
  font-family: courier new;
  text-align: center;
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
  BODY {
    background: black;
    color: #DDDDDD;
  }
  #grid TR TD{
    border:1px solid white;
  }  
}

/* Modo claro */
@media (prefers-color-scheme: light) {
  BODY {
    background: white;
    color: black;
  }  
  #grid TR TD{
    border:1px solid black;
  }
}

MODO_MANUAL {
  display: none;
  font-size: 25px;
}

MODO_ALEATORIO {
  display: inline;
  font-size: 25px;
}

H1 {
  text-align: center;
  font-size: 25pt;
  font-weight: normal;
}

H2 {
  display: inline;
}

OBS_TEXT {
  display: inline;
}

#grid {
  margin-left: auto;
  margin-right: auto;
}

#grid TR TD{
  background: #3f6e8c;
  min-width: 70px;
  min-height: 70px;
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 25px;
}

#grid TR TD.marked {
  background: #333333;
}

#grid TR TD.solution {
  background: #0095C6;
}

#grid TR TD.goal {
  background: coral;
}

BUTTON {
  margin: 25px;
  width: 170px;
  height: 70px;
  font-size: 25px;
}

input {
  margin: 15px;
  text-align: center;
  width: auto;
  height: auto;
}